#square-Container {
    display: flex;
    flex-wrap: wrap;
}

.square {
    display: inherit;
    align-items: center;
    justify-content: center;
    height: 100px;width: 100px;
    margin: 2em;
    background-color: black;
    color: white;
    font-size: 1.5em
    
}